/* font things */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/NotoSans-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 400;
    src: url(/fonts/NotoSans-Italic.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: bold;
    font-weight: 700;
    src: url(/fonts/NotoSans-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 700;
    src: url(/fonts/NotoSans-BoldItalic.ttf) format('truetype');
}

/* Main */
body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #00202e;
    /*color: #ffd380; */
    color: #f0f8ff;
}
h1.titular {
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 5px;
}
h2.subtitular {
    text-align: center;
    font-size: 20px;
}
div.content {
    border-style: solid;
    border-radius: 25px;
    border-color: #2c4875;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
    padding-left: 3%;
    padding-right: 3%;
}
ul.rule li {
    padding-left: 5px;
}
div.buttons {
    text-align: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
span.button a {
    text-align: center;
    text-decoration: none;
    color: #ffd380;
    border-style: solid;
    border-radius: 25px;
    border-color: #2c4875;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
}
span.button a:hover {
    background-color: #8a508f;
}

/* Navbar */
ul.navbar {
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 1px;
    margin-right: 0;
    margin-top: 3px;
    padding: 0;
    overflow: hidden;
    background-color: #00202e;
    border-style: solid;
    border-color: #2c4875;
    border-radius: 30px;
    position: fixed;
    top: 0;
    width: 99%;
}
ul.navbar li {
    float: left;
}
ul.navbar li a {
    display: block;
    color: #ffd380;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    border-style: solid;
    border-radius: 25px;
    border-color: #00202e;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
}
ul.navbar li a:hover {
    background-color: #8a508f;
}
ul.navbar li a.active {
    background-color: #ffa600;
}
ul.navbar li.right {
    float: right
}
ul.navbar li.right img {
    margin-right:7px;
    margin-top: 4px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}