/* font things */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/NotoSans-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 400;
    src: url(/fonts/NotoSans-Italic.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: bold;
    font-weight: 700;
    src: url(/fonts/NotoSans-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 700;
    src: url(/fonts/NotoSans-BoldItalic.ttf) format('truetype');
}

/* Main */
body {
    font-family: 'Noto Sans';
    background-color: #00202e;
    color: #ffd380;
}

/* Navbar */
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00202e;
    border-style: solid;
    border-color: #2c4875;
    border-radius: 15px;
    position: fixed;
    top: 0;
    width: 100%;
}
li.navbar {
    float: left;
}
li.navbar a {
    display: block;
    color: #ffd380;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-style: solid;
    border-radius: 17px;
    border-color: #2c4875;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 3px;
}
li.navbar a:hover {
    background-color: #8a508f;
    border-color: #bc5090;
}